<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuenta</title>
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="resources/css/account.css">
</head>
<body>
    <div class="main__container">
        <div class="login__container">
            <div class="login__volver">
                <a href="/" class="a1"><i class="bi-arrow-left"></i></a>
                <a href="logout" class="a2"><i class="bi bi-box-arrow-right"></i></a>
            </div>
            <div class="login__ss">
                    <i class="bi bi-person-circle"></i>
            </div> <br>
            <div class="login__info">
                <div class="mb2 login__info-section">
                    <a href="account/edit"><i class="bi bi-pencil-square"></i></a>
                    <p><span>E</span>ditar perfil<span>.</span></p>
                </div>
                <div class="mb2 login__info-section">
                    <a href="account/data"><i class="bi bi-journal-text"></i></a>
                    <p><span>D</span>atos personales<span>.</span></p>
                </div>
                <div class="mb2 login__info-section">
                    <a href="account/profile"><i class="bi bi-person-bounding-box"></i></a>
                    <p><span>V</span>er perfil<span>.</span></p>
                </div>
                <div class="login__info-section">
                    <a href="carrito"><i class="bi bi-cart"></i></a>
                    <p><span>I</span>r a carrito<span>.</span></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>