<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym</title>
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- FLATICON -->
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-thin-rounded/css/uicons-thin-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css'>
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="resources/css/styles.css">
</head>
<body>
    <div class="main-container">

        <header class="header" id="principle">
            <div class="logo">
                <img src="resources/img/logo.jpg" alt="">
                <a href="#"><p>power<span>life</span>gym</p></a>
            </div>
            <button class="abrirMenu" id="abrir"><i class="bi bi-list"></i></button>
            <nav class="nav" id="nav">
                <button class="cerrarMenu" id="cerrar"><i class="bi bi-x"></i></button>
                <ul class="nav-list">
                    <li><a href="#nosotros">Nosotros</a></li>
                    <li><a href="inscribirse">Inscribirse</a></li>
                    <li><a href="suplementos">Suplementos</a></li>
                    <li class="line"><a href="#contacto">Contacto</a></li>
                    <div class="nav-btns">
                        <% if(login) { %>
                            <a href="cuenta" class="nav-img"><i class="bi bi-person-circle"></i></a>
                        <% } else { %>
                            <a href="register" class="nav-btn2">Registarse</a>
                            <span class="line"></span>
                            <a href="login" class="nav-btn">Iniciar sesión</a> %>
                        <% }%>
                    </div>
                </ul>
            </nav>
        </header>

        <div class="cards__section">
            <% products.forEach((product) => { %>
            <div class="card">
                <div class="info__section">
                    <img src="" class="info__img">
                    <div class="info">
                        <h3 class="info__title"><%= product.name %></h3>
                        <p class="info-info">Lorem ipsum dolor sit amet.</p>
                        <p class="price"><span>$</span><%= product.price %></p>
                    </div>
                </div>
                <div class="interaction__section">
                    <a href="producto/<%=product.productID%>/detalles" class="btn see__btn"><p><i class="bi bi-eye"></i> Ver producto</p></a>
                    <a href="javascript:void(0);" class="btn see__btn" onclick="addToCart('<%= product.productID %>')">
                        <p><i class="bi bi-cart"></i> Agregar al carrito</p>
                      </a>
                </div>
            </div>
            <% }); %>
        </div>

        <footer class="footer">
            <div class="containerr">
                <div class="fila">
                    <div class="footer-col">
                        <h4><span>E</span>ntrenamientos</h4>
                        <ul>
                            <li><p><span>B</span>oxeo</p></li>
                            <li><p><span>F</span>uncional</p></li>
                            <li><p><span>M</span>usculación</p></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4><span>N</span>osotros</h4>
                        <ul>
                            <li><p><span>P</span>ersonal</p></li>
                            <li><p><span>C</span>lientes</p></li>
                            <li><p><span>U</span>bicación</p></li>
                        </ul>
                    </div>
                    <div id="contacto" class="footer-col">
                        <h4><span>C</span>ontactos</h4>
                        <ul class="redes">
                            <a target="_blank" href="https://www.instagram.com/powerlifemdp/?hl=es"><i class="fi fi-brands-instagram"></i></a>
                            <a href="#"><i class="fi fi-brands-whatsapp"></i></a>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        function addToCart(productID) {
          fetch('/carrito/agregar', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({ productID: productID })
          })
          .then(response => response.json())
          .then(data => {
            Swal.fire({
              title: 'Producto agregado',
              text: 'El producto se ha agregado al carrito exitosamente.',
              icon: 'success',
              timer: 1500,
              showConfirmButton: false
            });
          })
          .catch(error => {
            Swal.fire({
              title: 'Error',
              text: 'Hubo un problema al agregar el producto al carrito.',
              icon: 'error',
              timer: 1500,
              showConfirmButton: false
            });
          });
        }
      </script>
</body>
</html>